@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* SCSS HSL */
body {
  background: #f0f0f0;
  color: #436aa8;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  user-select: none;

  .square {
    background-color: #436aa8;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 60%;
    left: 30%;
    box-sizing: border-box;
    border-radius: 50%;
  }

  header {
    position: fixed;
    top: 0;
    height: 6vh;
    width: 100vw;
    background: #436aa8;

    nav {
      height: 100%;

      ul {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        height: 100%;

        li a {
          text-decoration: none;
          color: #f0f0f0;
          font-size: 1.2em;
          font-weight: 500;
        }
      }
    }
  }

  main {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    place-content: center;

    .container {
      position: relative;
      bottom: 5%;

      .lineWrapper {
        overflow: hidden;

        .title {
          font-size: 6em;
          font-weight: 700;
        }
      }

      p {
        font-size: 1.5em;
        font-weight: 400;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0.5em;
    text-align: center;
    width: 100vw;
  }
}
